@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon {
  color: #000000;
}
.link {
  color: #0000ff;
}
.link:hover {
  text-decoration: underline;
}
.section-title {
  color: #555555;
}